 html {
     font-size: 14px;
 }

 /* 
    html {
        scroll-behavior: smooth;
    } */

 body {
     background: white;
     font-family: "Raleway", "Lucida Sans Unicode", Verdana, sans-serif;
     color: #2d2d2d;
     text-align: justify;
     line-height: 1.2 color: black;
     padding: 0px;
     margin: 0;
 }

 * {
     box-sizing: border-box;
     outline: none;
 }

 .container {
     margin: 0 auto;
     max-width: 1240px;
 }

 a:link,
 a:visited {
     color: #e2574c;
     text-decoration: none;
     cursor: pointer;
 }

 a:hover {
     color: #b64036;
     text-decoration: none
 }

 /* HEADER SECTION */

 .header {
     position: fixed;
     top: 0;
     left: 0;
     height: 120px;
     width: 100%;
     z-index: 100;
     background-color: white;
     padding: 8px;
     display: flex;
     flex-direction: row;
     flex-wrap: wrap;
     align-items: center;
     justify-content: space-between;
 }

 .logo {
     flex-wrap: nowrap;
     width: 50%;
     padding-bottom: 6px;
 }

 .logo img {
     display: block;
     width: 120px;
 }

 .main-nav {
     flex-wrap: wrap;
     width: 100%;
     text-transform: uppercase;
     text-decoration: none;
     border-top: solid 1px #d7d7d7;
     order: 1;
 }

 header ul {
     list-style-type: none;
     display: flex;
     width: 100%;
     align-content: center;
     justify-content: center;
     padding-left: 0;
 }

 header li {
     padding-right: 12px;
     padding-left: 12px;
 }

 .cart {
     flex-wrap: nowrap;
     width: 50%;
     padding-bottom: 6px;
     text-align: right;
     position: relative;
 }

 .cart img {
     height: 50px;
     cursor: pointer;
 }

 #itemCount {
     display: block;
     position: absolute;
     top: 0px;
     right: 0px;
     padding: 6px;
     width: 30px;
     height: 30px;
     border-radius: 50%;
     background: teal;
     color: white;
     text-align: center;
     visibility: hidden;
 }

 /* BANNER SECTION */

 .heading {
     font-family: "Playfair Display", Verdana, Geneva, Tahoma, sans-serif;
     text-align: center;
     font-size: 52px;
     font-weight: normal;
 }

 #banner {
     margin: 115px 0px 150px 0px;
     color: white;
     text-shadow: 2px 2px 10px black;
 }

 .new-collection {
     font-size: 16px;
     text-transform: uppercase;
     text-align: center;
     margin: -20px 0px -50px 0px;
     font-weight: bold;
 }

 .banner-text {
     font-size: 34px;
 }

 .banner {
     background: linear-gradient(to bottom, rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url(banner/banner-girl.png), url(banner/flower-bkgd.jpg);
     background-size: cover, 150px 369px, cover;
     height: 400px;
     background-repeat: no-repeat, no-repeat, repeat-x;
     background-position: center, center 60px, top;
     opacity: 1.5;
     padding-top: 180px;
     padding-bottom: 180px;
     margin: 0;
 }

 #about {
     margin-top: -120px;
     margin-bottom: 80px;
     text-align: center;
 }

 .italic-heading {
     font-size: 34px;
     font-style: italic;
 }

 .bold-heading {
     font-size: 34px;
     font-weight: bold;
 }

 .about-text {
     font-size: 16px;
     font-weight: 100;
     letter-spacing: .5px;
     max-width: 370px;
     margin: auto;
     line-height: 30px;
 }

 /* SHOP SECTION */

 .shop-container {
     display: flex;
     flex-direction: row;
     flex-wrap: wrap;
     text-align: center;
     font-size: 24px;
     color: white;
     margin: 0;
     padding: 0;
     width: 100%;
 }

 .shop-container a {
     color: white;
     text-decoration: none;
     text-shadow: 2px 2px 10px black;
     position: absolute;
     left: 0;
     right: 0;
     top: 45%;
 }

 .shop-container a:hover {
     cursor: pointer;
     color: lightyellow;
 }

 .shop-container .rectangle {
     width: 100%;
     position: relative;
     background-size: cover;
     background-position: 50% 100%;
     padding-top: 50%;
 }

 .shop-container .square {
     width: 50%;
     position: relative;
     background-size: cover;
     padding-bottom: 50%;
 }

 .men.rectangle {
     background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url(shop/mens-category.jpg);
     border-bottom-style: solid;
     border-bottom-color: white;
     border-bottom-width: 4px;
 }

 .trends.square {
     background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url(shop/trends-category.jpg);
     border-top-style: solid;
     border-top-color: white;
     border-top-width: 4px;
     border-right-style: solid;
     border-right-color: white;
     border-right-width: 4px;
     border-bottom-style: solid;
     border-bottom-color: white;
     border-bottom-width: 4px;
 }

 .glasses.square {
     background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url(shop/glasses-category.jpg);
     border-top-style: solid;
     border-top-color: white;
     border-top-width: 4px;
     border-left-style: solid;
     border-left-color: white;
     border-left-width: 4px;
     border-bottom-style: solid;
     border-bottom-color: white;
     border-bottom-width: 4px;
 }

 .sale.square {
     background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url(shop/sale-category.jpg);
     border-top-style: solid;
     border-top-color: white;
     border-top-width: 4px;
     border-right-style: solid;
     border-right-color: white;
     border-right-width: 4px;
     border-bottom-style: solid;
     border-bottom-color: white;
     border-bottom-width: 4px;
 }

 .bags.square {
     background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url(shop/bags-category.jpg);
     border-top-style: solid;
     border-top-color: white;
     border-top-width: 4px;
     border-left-style: solid;
     border-left-color: white;
     border-left-width: 4px;
     border-bottom-style: solid;
     border-bottom-color: white;
     border-bottom-width: 4px;
 }

 .women.rectangle {
     background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url(shop/womens-category.jpg);
     border-top-style: solid;
     border-top-color: white;
     border-top-width: 4px;
 }

 /* FEATURED SECTION */

 .clothing-item {
     font-family: "Playfair Display", Verdana, Geneva, Tahoma, sans-serif;
     font-size: 24px;
     color: #e2574c;
     font-weight: normal;
     font-weight: capitalize;
 }

 #featured {
     color: #969696;
 }

 .black-heading {
     color: black;
 }

 .main-carousel {
     list-style-type: none;
     position: relative;
 }

 .carousel-cell {
     text-align: center;
     width: 100%;
     height: 580px;
     position: absolute;
 }

 .carousel-cell.first-cell {
     padding-left: 25px;
 }

 .carousel-cell.last-cell {
     padding-right: 25px;
 }

 .carousel-cell.is-selected {
     padding-left: 30px;
     padding-right: 30px;
 }

 .flickity-page-dots {
     bottom: 0px;
 }

 .flickity-enabled:focus .flickity-viewport {
     outline: thin dotted;
     outline: 1px auto;
 }

 .add-to-cart {
     color: white;
     font-size: 12px;
     font-weight: 700;
     line-height: 1;
     background-color: black;
     border: 0;
     border-radius: 25px;
     margin-top: 16px;
     padding: 8px 16px;
     cursor: pointer;
 }

 input[type="button"] {
     align-items: flex-start;
     text-align: center;
 }

 button {}

 /* UPDATES SECTION */

 #updates {
     text-align: center;
 }

 #updates h4 {
     color: white;
     text-shadow: 2px 2px 10px black;
     margin-bottom: 20px;
 }

 #updates p {
     color: white;
     font-size: 15px;
     font-weight: 100;
     letter-spacing: .5px;
     max-width: 370px;
     margin: auto;
     line-height: 30px;
 }

 #updates form {
     margin-top: 20px;
     border-radius: 50px;
 }

 .subscribe-form {
     position: relative;
     border: 0;
     box-shadow: 2px 2px 15px grey;
     max-width: 325px;
     margin: auto;
 }

 .subscribe-form input[type="email"] {
     width: 100%;
     border: 0;
     border-radius: 25px;
     background-color: white;
     color: grey;
     padding: 15px;
 }

 .subscribe-form input[type="submit"] {
     position: absolute;
     right: 2px;
     top: 2px;
     border-radius: 20px;
     background-color: #e2574c;
     color: white;
     cursor: pointer;
     font-weight: 400;
     padding: 12px;
 }

 .updates-background {
     background: linear-gradient(180deg, rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.15)), url(updates/wave-bkgd.jpg);
     background-size: cover, cover;
     background-position: bottom;
     height: 250px;
     background-repeat: no-repeat, no-repeat;
     margin-bottom: 8px;
 }

 /* FOOTER SECTION  */

 footer {
     background-color: #242424;
     color: white;
     font-family: "Playfair Display", Verdana, Geneva, Tahoma, sans-serif;
     text-align: center;
     padding: 40px;
 }

 footer p {
     margin: 0;
     padding: 3px;
 }

 .address {
     color: #969696;
 }

 .social-media {
     font-family: "Raleway", Verdana, Geneva, Tahoma, sans-serif;
     display: none;
 }

 .footer-nav {
     list-style-type: none;
     /* margin: 20px 75px 40px 75px; */
     padding: 0px;
     display: flex;
     justify-content: center;
 }

 footer li {
     display: inline;
     display: block;
     padding: 10px;
 }

 footer a:link {
     color: white;
     text-decoration: none;
 }

 footer a:visited {
     color: white;
     text-decoration: none;
 }

 footer a:hover {
     color: #b64036;
     text-decoration: none
 }

 /* MEDIA QUERY */

 /* TABLE SIZING */

 @media screen and (min-width: 600px) {
     html {
         font-size: 16px;
     }
     /* HEADER SECTION */
     .header {
         height: 85px;
     }
     .logo {
         width: 20%;
     }
     .main-nav {
         width: 50%;
         border-top: none;
         flex-wrap: nowrap;
         order: 0;
         font-size: 14px;
     }
     header li {
         padding-right: 10px;
         padding-left: 8px;
     }
     .cart {
         width: 20%;
     }
     /* BANNER SECTION  */
     #banner {
         margin: 70px 0px 10px 0px;
     }
     .new-collection {
         font-size: 20px;
     }
     .banner-text {
         font-size: 50px;
     }
     /* ABOUT SECTION */
     #about {
         margin-top: 0px;
         text-align: center;
     }
     .italic-heading {
         font-size: 40px;
         font-style: italic;
     }
     .bold-heading {
         font-size: 40px;
         font-weight: bold;
     }
     .about-text {
         font-size: 18px;
         max-width: 700px;
     }
     /* SHOP SECTION */
     .shop-container {
         font-size: 30px;
     }
     .shop-container a {
         top: 40%;
     }
     .shop-container .rectangle {
         width: 50%;
         padding-top: 25%;
         margin-top: 0;
         margin-bottom: 8px;
     }
     .shop-container .square {
         width: 25%;
         padding-bottom: 25%;
     }
     .men.rectangle {
         margin: 0;
         border-right-style: solid;
         border-right-color: white;
         border-right-width: 4px;
     }
     .trends.square {
         margin-left: 0;
         margin-right: 0;
         border-top-style: none;
         border-left-style: solid;
         border-left-color: white;
         border-left-width: 4px;
         border-bottom-style: solid;
         border-bottom-color: white;
         border-bottom-width: 4px;
     }
     .glasses.square {
         margin-left: 0;
         margin-right: 0;
         border-top-style: none;
     }
     .sale.square {
         margin: 0;
         border-right-style: solid;
         border-right-color: white;
         border-right-width: 4px;
         border-bottom-style: none;
     }
     .bags.square {
         margin: 0;
         border-right-style: solid;
         border-right-color: white;
         border-right-width: 4px;
         border-left-style: solid;
         border-left-color: white;
         border-left-width: 4px;
         border-bottom-style: none;
     }
     .women.rectangle {
         margin: 0;
         border-left-style: solid;
         border-left-color: white;
         border-left-width: 4px;
     }
     /* FEATURED SECTION */
     .carousel-cell {
         width: 50%;
     }
     /* UPDATES SECTION  */
     .subscribe-form {
         max-width: 500px;
     }
     #updates p {
         color: white;
         line-height: 35px;
         font-size: 18px;
         max-width: 700px;
     }
     /* FOOTER SECTION */
     footer {
         text-align: left;
         padding: 40px;
         font-size: 16px;
     }
     footer p {
         margin: 0;
         padding: 3px;
     }
     .footer-container {
         display: flex;
     }
     .footer-nav {
         flex-direction: column;
         margin: 0 0 0 auto;
     }
     .footer-nav .fab {
         width: 32px;
     }
     .contact-info {
         padding: 10px;
     }
     .social-media {
         display: inline-block;
     }
     footer ul {
         list-style-type: none;
         /* margin: 50px 300px 50px 50px; */
         padding: 0;
         font-weight: 100;
     }
 }

 /* DESKTOP SIZING */

 @media screen and (min-width: 1240px) {
     .main-carousel {
         max-width: 1240px;
         margin: auto;
     }
     .carousel-cell img {
         height: 250px;
         width: 150px;
     }